.container {
  width: 1056px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  outline: 1px solid red;
  flex-direction: row;
}
.header{
 padding-top: 39px;
 padding-bottom: 39px;
 border-bottom: 3px solid #FFF;
 background-image: linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),url(../img/footerbg.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
    
    
}
.header-box{
    display: flex;
    align-items: center;
}

.header-list{
  display: flex;
  gap: 38px;
}
.header-nav{
    margin-left: 168px;
}
.header-link{
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.header-link:hover{
    color: #94CFFF;
}
.header-button{
    color: #26C6EA;

text-align: justify;
font-family: HeadlandOne;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: #0B0E66;
padding: 9px 38px;
border-radius: 35px 0px;
border: 2px solid #26C7EA;
margin-left: auto;
}
.hero{
    background-image: url(../img/backimghero.webp);
  background-size: cover;
background-position: center;
    padding-top: 180px;
    padding-bottom: 179px;
}
.hero-text{
  
    width: 298px;
    height: 96px;
    color: #FFF;

font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: normal;
}

.hero-text2{
   
    width: 376px;

color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: normal;
}
.hero-button{
color: #26C7EA;
text-align: center;
font-family: HeadlandOne;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 260px;
height: 80px;
border-radius: 45px 0px;
border: 3px solid #26C7EA;

background: #0B0E66;

}


.treilerbtn-box{


width: 1440px;
height: 741px;
    background-image:url(../img/backtreiler.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.treiler-blockquote{
    color: #26C7EA;

text-align: center;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    color: #0A3853;
text-align: justify;
font-family: Inter;
font-size: 36px;
font-weight: 400;
line-height: normal;
    display: flex;
    justify-content: center;
}
.treiler-cite{
    color: #000;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
}
.treiler-img{
margin-left: 290px;
margin-right: 520px;
margin-bottom: 10px;

}
.treiler-button{
    color: #26C7EA;
text-align: justify;
font-family: HeadlandOne;
font-size: 24px;
font-weight: 400;
line-height: normal;
    width: 260px;
height: 80px;
border-radius: 45px 0px;
border: 3px solid #26C7EA;

background: #0B0E66;
padding-left: 19px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 20px;
}