:root{
    --main-color: #FFFFFF;
    --text-color: #141414;
    --author-color: #000000;
    --bordertext-color: #26C7EA;
    --border-color: #0B0E66;
    --trieler-color: #0A3853;
    --headerline-color: #2B4A61DE;
    --headerbuttontext-color: #26C6EA;
    --hover-color: #94CFFF;

}
.container {
  width: 1056px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  outline: 1px solid red;
  flex-direction: row;
}
.header{
padding: 39px 0 39px 0;
 border-bottom: 3px solid #FFF;
 background-image: linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),url(../img/footerbg.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
    
    
}
.header-box{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    gap: 38px;
}
.header-nav{
    display: flex;
    margin-left: 168px;
    
    
}
.header-link{
    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.header-link:hover{
    color: var(--hover-color);
}
.header-button{
    color: var(--headerbuttontext-color);

text-align: justify;
font-family: HeadlandOne;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
background-color: var(--border-color);
padding: 9px 38px;
border-radius: 35px 0px;
border: 2px solid var(--bordertext-color);
margin-left: auto;

}
.hero{
    background-image: url(../img/backimghero.webp);
  background-size: cover;
background-position: center;
    padding-top: 180px;
    padding-bottom: 179px;
}
.hero-text{
  
    width: 298px;

    color: var(--main-color);

font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: normal;
}

.hero-text2{
   
    width: 376px;

color: var(--main-color);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: normal;
margin-bottom: 42px;
}
.hero-button{
color: var(--bordertext-color);
text-align: center;
font-family: HeadlandOne;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 260px;
height: 80px;
border-radius: 45px 0px;
border: 3px solid #26C7EA;

background: var(--border-color);


}


.treiler-box{
padding-top: 75px;
padding-bottom: 10px;

}
.treiler-blockquote{
    color: var(--bordertext-color);

text-align: center;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    color: var(--trieler-color);
text-align: justify;
font-family: Inter;
font-size: 36px;
font-weight: 400;
line-height: normal;
    display: flex;
    justify-content: center;
}
.treiler-cite{
    color: var(--author-color);
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
padding-top: 16px;
}
.treiler-img{
margin-left: 290px;
margin-right: 520px;
margin-bottom: 10px;

}
.whatchnow{
    background-image: url(../img/backwhatchnow.webp);
     background-size: cover;
     padding-top: 330px;
     padding-bottom: 330px;
}
.whatchnow-button{
    color: var(--bordertext-color);

font-family: HeadlandOne;
font-size: 24px;
font-weight: 400;
line-height: normal;
    width: 260px;
height: 80px;
border-radius: 45px 0px;
border: 3px solid var(--bordertext-color);


background: var(--border-color);
padding-left: 19px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 20px;
margin-left: auto;
margin-right: auto;

}
.whatchnow-box{
   
  
    display: flex;}
.navi-blockquote{
    
        color: var(--bordertext-color);
    
    text-align: center;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        color: var(--trieler-color);
    text-align: justify;
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
        display: flex;
        justify-content: center;
}
.navi-cite{
    color: var(--author-color);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.navi-img{
    margin-left: 290px;
margin-right: 520px;
margin-bottom: 10px;
}
.learn{
    background-image: url(../img/learnback.webp);
    background-size: cover;
}
.learn-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.learn-img{
    width: 152px;
height: 40px;
margin-top: 40px;
margin-bottom: 40px;
}
.learn-title{
color: var(--text-color);
text-align: justify;
font-family: HeadlandOne;
font-size: 32px;
font-weight: 400;
line-height: 1.25;

}
.learn-titles{
    color: var(--text-color);
text-align: justify;
font-family: HeadlandOne;
font-size: 24px;
font-weight: 400;
line-height: 1; /* 100% */
}
.learn-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    margin-top: 45px;
   
}
.learn-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 240px;
    background: rgba(255, 255, 255, 0.70);

}
.nejtiri-blockquote{
         color: var(--bordertext-color);
         text-align: center;
        font-size: 24px;
        font-style: normal;
    font-weight: 400;
    line-height: normal;
        color: var(--trieler-color);
    text-align: justify;
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
        display: flex;
        justify-content: center;
}
.nejtiri-cite{
    color: var(--author-color);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}
.nejtiri-img{
    margin-left: 290px;
    margin-right: 520px;
    margin-bottom: 10px;
}
.footer{
    background-image:linear-gradient(rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)),url(../img/footerbg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.footer-box{
    display: flex; 
}
.footer-logo{
    margin-left: 204px;
    margin-top: 77px;
    margin-right: 80px;
    margin-bottom: 76px;
 
 
}
.footer-text1{
    color: #FFF;

text-align: justify;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
    padding-top: 80px;
    padding-bottom: 16px;
}
.footer-text2{
    color: #FFF;

text-align: justify;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
    padding-bottom: 37px;
}
.footer-text3{
    color: #FFF;

text-align: justify;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
    margin-bottom: 25px;
}